*.iml
.gradle
/local.properties
.DS_Store
/build
/buildSrc/build
.externalNativeBuild
/app/build
/crystal_range_seekbar/build
/material_calendar_view/build
/secrets/*

# Idea files
.idea
!.idea/
.idea/*
!/.idea/codeStyles/
